.add {
  background-color: #f5f5f566;
  border: 1px solid grey;
  margin-right: 10px;
}

.btn-add {
  border-radius: 8px;
  border: 1px solid grey;
}

.error {
  margin: 0;
  color: red;
  position: absolute;
}
